header, main {
  padding-left: 240px;
  padding-right: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

html, body {
  height: 100%;
}

body{
    margin: 0;
    background-color: rgb(45, 45, 45);

}


.flex {
  display: flex;
}

.small-btn {
  padding: 0px 30px !important;
  margin: 15px 0 !important;
}
.dropdown-content li.active > span {
    color: white !important;
}

i.material-icons {
  vertical-align: middle;
}

.thin{
    font-weight: 300;
}

.side-nav {
    box-shadow: none;
}

.side-nav li {
    line-height: initial;
}

.side-nav a {
  line-height: 45px;
  height: initial;
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
  line-height: 45px;
}


.listpadd{
  padding: 0 30px;
}

.list-action {
  display: block;
}

.side-nav.right{
    left: auto;
    right: 0;
}

.side-nav .input-field {
  display: flex;
  margin-top: 5px;
}

.input-field label.active {
    font-size: 0.8rem;
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%);
}

input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea {
    margin: 15px 0 5px 0;
}
/*
input[type="range"] + .thumb.active .value {
    margin-top: -17px;
}*/

.side-nav.right li{
  padding: 0 15px;
}

main {
    height: 100%;
    width: 100%;
    
}

#canvas-container {
  flex: 1;
}

footer.footer {
  bottom: 0;
  width: 100%;
  margin-top: 0;
}

.input-field input[type=number].ng-invalid {
  border-bottom: 1px solid #FF0000;
  box-shadow: 0 1px 0 0 #FF0000;
}

input[type="checkbox"] + label {
  margin: 10px 0px;
}

.side-nav .collapsible-body li.active > a, .side-nav.fixed .collapsible-body li.active > a {
  color: white;
}

.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a {
  color: inherit;
}

#loading-container {
  display: block;
  margin: 200px auto;
}

input.rangeNumberInput[type="number"] {
    max-width: 22%;
    min-width: 20px;
    -moz-appearance: textfield;
    margin: 5px 0 0 7px;
    height: 26px;
    text-align: center;
    border-bottom: 1px solid rgba(158, 158, 158, 0.29);
}

.input-field label {
    color: #696969;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: -12px;
}


input.rangeNumberInput[type=number]::-webkit-inner-spin-button, 
input.rangeNumberInput[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

input[type="range"] + .thumb {
  display: none;
}






























/* LOADER */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(80px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(80px) translateY(80px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(80px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(80px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(80px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(80px) translateY(80px) rotate(-179deg);
    -webkit-transform: translateX(80px) translateY(80px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(80px) translateY(80px) rotate(-180deg);
    -webkit-transform: translateX(80px) translateY(80px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(80px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(80px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}