header, main, footer {
  padding-left: 240px;
  padding-right: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

body{
    margin: 0;
    background-color: #ccc;
}
.thin{
    font-weight: 300;
}
.side-nav.right{
    left: auto;
    right: 0;
}

.side-nav.right li{
  padding: 0 15px;
}

main {
    height: 100%;
    width: 100%;
    position: fixed;
}

.input-field input[type=number].ng-invalid {
  border-bottom: 1px solid #FF0000;
  box-shadow: 0 1px 0 0 #FF0000;
}