 <!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <title>Motif</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href="css/fonts.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
        <script src="lib/materialize.min.js"></script>
        <script language="javascript" src="lib/angular.js"></script>
        <script language="javascript" type="text/javascript" src="lib/p5.js"></script>
        <script language="javascript" src="lib/p5.dom.js"></script>
        <script language="javascript" src="lib/p5.sound.js"></script>

        <script language="javascript" src="p5.motif.js"></script>
        <script language="javascript" type="text/javascript" src="sketch.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta content="utf-8" http-equiv="encoding">
    </head>

    <body ng-app="motif" ng-controller="mainCtrl">
        <!--<nav class="blue-grey lighten-4" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">Motif</a>
            </div>
        </nav>
        -->

        <ul id="nav-mobile" class="side-nav fixed">   
            <li ng-repeat="object in objects">
                <a href ng-click="addObject(object)" class="waves-effect waves-teal">{{object.name}}</a>
            </li>
        </ul>

        <ul id="nav-mobile" class="side-nav right fixed">
            <li><h6>{{open.name}}</h6></li>
            <li ng-repeat="(name, prop) in open.props">
                <div class="input-field range-field" ng-repeat="field in exposedProps(prop.type)" ng-class="{range-field: prop.type =='range'">
                    <input ng-required="true" placeholder="{{name}} {{field}}" id="{{$parent.$index+open.name+name+field}}" max="{{prop.max}}" min="{{prop.min}}" step="{{prop.step}}" type="{{htmlType(prop.type)}}" ng-model="prop[field]">
                    <label for="{{$parent.$index+open.name+name+field}}">{{ field != 'value' ? field : name}}</label>
                </div>
                <label></label>
            </li>
        </ul>

        <main >
            <div id="canvas-container" height="0px"></div>
            <footer class="page-footer">
                <div class="collection">
                    <a ng-repeat="object in scene.objects" ng-click="selected(object)" href class="collection-item">{{object.name}}</a>
                </div>
            </footer>
        </main>

        

    </body>
</html>
    