 <!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <title>Motif</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href="css/fonts.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
        <script src="lib/materialize.min.js"></script>
        <script language="javascript" src="lib/angular.js"></script>
        <script language="javascript" type="text/javascript" src="lib/p5.js"></script>
        <script language="javascript" src="lib/p5.dom.js"></script>
        <script language="javascript" src="lib/p5.sound.js"></script>

        <script language="javascript" src="js/p5.motif.js"></script>
        <script language="javascript" src="js/sketch.js"></script>
        <script language="javascript" src="js/app.js"></script>
        <script language="javascript" src="js/directives.js"></script>
        <script language="javascript" src="js/objects.js"></script>
        <script language="javascript" src="js/inputs.js"></script>
        <script language="javascript" src="js/effects.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta content="utf-8" http-equiv="encoding">
    </head>

    <body ng-app="motif" ng-controller="mainCtrl" ng-init="init()">
        <!--<nav class="blue-grey lighten-4" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">Motif</a>
            </div>
        </nav>
        -->

        <ul id="nav-mobile" class="side-nav fixed">
            <ul class="tabs">
                <li class="tab col s3"><a href="#add-tab" class="active">Add</a></li>
            </ul>

            <div id="add-tab">

                <subnav title="Object">
                    <li ng-repeat="object in objects">
                        <a href="#" ng-click="addObject(object)" class="waves-effect waves-teal">{{object.name}}</a>
                    </li>
                </subnav>

                <subnav title="Input">
                    <li ng-repeat="input in inputs">
                        <a href="#" ng-click="addInput(input)" class="waves-effect waves-teal">{{input.name}}</a>
                    </li>
                </subnav>


                <subnav title="Connection">
                    <li>
                        <div class="input-field listpadd">
                            <select id="obj-con" ng-options="obj.name for obj in scene.objects" ng-model="con.obj" ng-change="clickSel('obj-prop-con')"></select>
                        </div>
                        <div class="input-field listpadd">
                            <select id="obj-prop-con" ng-change="clickSel('input-con')" ng-options="name for (name, props) in con.obj.props" ng-model="con.prop">
                            </select>
                        </div>
                    </li>

                    <li class="center"><span class="grey-text">connected to</span></li>

                    <li>
                        <div class="input-field listpadd">
                            <select id="input-con" ng-options="input.name for input in scene.inputs" ng-model="con.input" ng-change="clickSel('out-con')"></select>
                        </div>
                        <div class="input-field listpadd">
                            <select id="out-con" ng-options="name for (name, out) in filtered(con.input.out, 'type', con.prop.type)" ng-model="con.output"></select>
                        </div>
                    </li>

                    <li class="list-action light-green accent-4 waves-effect waves-light">
                        <a ng-click="addConnection(con.input, con.output, con.prop, con.obj.name+'.'+getText('#obj-prop-con'))"  class="btn-block btn-outline text-white" href>
                            <i class="material-icons">add</i> Add {{con.prName}}
                        </a>
                    </li>
                </subnav>


                <subnav title="Effect">
                    <li>
                        <div class="input-field listpadd">
                            <select ng-options="effect.name for effect in effects" ng-model="eff.eff" ng-change="clickSel()"></select>
                        </div>
                    </li>

                    <li class="center"><span class="grey-text">applied to</span></li>

                    <li>
                        <div class="input-field listpadd">
                            <select ng-options="input.name for input in scene.inputs" ng-model="eff.input" ng-change="clickSel()"></select>
                        </div>
                        <div class="input-field listpadd">
                            <select ng-options="name for (name, out) in eff.input.out" ng-model="eff.output"></select>
                        </div>
                    </li>

                    <li class="list-action light-green accent-4 waves-effect waves-light">
                        <a ng-click="addEffect(eff.output, eff.eff)"  class="btn-block btn-outline text-white" href>
                            <i class="material-icons">add</i> Add effect
                        </a>
                    </li>
                </subnav>

                <subnav title="Saves" amount="saved">
                    <li class="list-action">
                        <div class="row">
                            <div class="input-field col s7">
                              <input id="save_name" type="text" ng-model="curSave.name" />
                              <label for="save_name">Name</label>
                            </div>
                            <div class="input-field col s5">
                                <button ng-click="save(name)" ng-disabled="curSave.name.length == 0" class="btn-block small-btn btn light-green accent-4 waves-effect waves-light text-white" href>
                                    <i class="material-icons">file_download</i>
                                </button>
                            </div>
                        </div class="row">
                        
                    </li>
                    <li ng-repeat="save in saved">
                        <a href="#" ng-click="openSave(save)" title="Open" class="waves-effect waves-teal">
                            {{save.name}}
                            <span href="#" ng-click="deleteSave(save)" title="Delete" class="right waves-effect waves-red"><i class="material-icons">delete</i></span>
                        </a>
                    </li>
                </subnav>

                <subnav title="Songs">
                    <li class="list-action">
                        <div class="row">
                            <div class="input-field col s7">
                              <input id="song_name" type="url" ng-model="songUrl" />
                              <label for="song_name">Song url</label>
                            </div>
                            <div class="input-field col s5">
                                <button title="Play" ng-click="selectSong(songUrl)" class="btn-block small-btn btn light-green accent-4 waves-effect waves-light text-white" href>
                                    <i class="material-icons">play_arrow</i>
                                </button>
                            </div>
                        </div class="row">
                    </li>
                    <li ng-repeat="music in songs">
                        <a href="#" ng-click="selectSong(music)" title="Select" class="waves-effect waves-teal">
                            {{music}}
                        </a>
                    </li>
                </subnav>

            </div>
        </ul>
        <!--<audio src="songs/pizza.mp3" autoplay="true"></audio>-->
        <ul id="nav-mobile" class="side-nav right fixed">
            <ul class="tabs">
                <li class="tab col s3"><a href="#objects-tab">Edit</a></li>
            </ul>

            <div id="objects-tab">
                <li><h5>{{open.name}}</h5></li>

                 <subnav title="Properties" ng-if="open.props">
                    <props list="open"></props>
                </subnav>


                <subnav title="Connections" ng-if="open.affected">
                    <subnav title="{{aff.name}}" ng-repeat="(name, aff) in open.affected" func="deleteIndex($index, open.affected)">
                        <div class="listpadd input-field col s12">
                            <label class="active">Multiplier</label>
                            <input type="number" ng-model="aff.modifier" />
                        </div>
                    </subnav>
                </subnav>

                <subnav title="Effects" ng-if="open.out">
                    <subnav title="{{name}}" ng-repeat="(name, out) in open.out" ng-if="out.effects.length > 0">
                        <subnav title="{{effect.name}}" ng-repeat="effect in out.effects">
                            <props list="effect"></props>
                        </subnav>
                    </subnav>
                </subnav>

            </div>
        </ul>

        <main>
            <div id="canvas-container" height="0px"></div>
            <div id="loading-container">
                <div class="spinner">
                  <div class="cube1"></div>
                  <div class="cube2"></div>
                </div>
            </div>

            <footer class="footer" style="display: none">
                <div class="container">
                    <div class="row">
                        <div class="col s6" ng-repeat="array in [scene.objects, scene.inputs]">
                            <div class="collection">
                                <a ng-repeat="element in array" ng-click="selected(element)" href="#" class="collection-item">
                                    {{element.name}}
                                    <span ng-click="deleteIndex($index, array)" ng-if="!element.undeletable" title="Delete" href="#" class="right waves-effect waves-red"><i class="material-icons">delete</i></span>

                                    <span ng-repeat="offset in offsets" href="#" ng-click="moveIndex($parent.$index, offset.dir, array)" title="Move {{offset.name}}" class="right"><i class="material-icons">{{offset.icon}}</i></span>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </main>


    </body>
</html>
