<li ng-repeat="(name, prop) in list.props" >
    <div class="input-field range-field listpadd col s12">
        <input
            ng-model="prop.value"
            type="{{prop.htmlType}}"
            placeholder="{{name}} {{field}}"
            id="{{$index+$parent.$parent.list.name+name+field}}"
            max="{{prop.max}}"
            min="{{prop.min}}"
            step="{{prop.step}}"
            ng-if="!prop.hidden && prop.htmlType != 'select'"
            ng-required="!prop.hidden"
            ng-change="prop.func($parent.$parent.list, prop.value)"
        >
        <input
            ng-model="prop.value"
            class="rangeNumberInput"
            type="number"
            max="{{prop.max}}"
            min="{{prop.min}}"
            step="{{prop.step}}"
            ng-if="!prop.hidden && prop.htmlType != 'select' && prop.htmlType == 'range'"
            ng-required="!prop.hidden"
            ng-change="prop.func($parent.$parent.list, prop.value)"
        >
        <select 
            ng-if="prop.htmlType == 'select'" 
            ng-options="val for val in prop.options" 
            ng-model="prop.value" 
            ng-change="prop.func($parent.$parent.list, prop.value, name)"
            class="browser-default"
            >
        </select>
        <label class="active" ng-hide="prop.hidden" for="{{$index+$parent.list.name+name+field}}">{{name}}</label>
    </div>
</li>
